@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Raleway:wght@800&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Raleway:wght@800&family=Roboto:wght@100;300&display=swap');


.jumbotron {
  /* border: 1px solid ; */
  background-image: url(annie-spratt-zA7I5BtFbvw-unsplash.jpg);
  background-size: cover;
  color: black;
  padding: 20px 0;
}

h1 {
  font-family: "bodoni moda";
  font-size: 2em;
}

.jumbotron-left {
width: 50%;
}

.jumbotron-right {
width: 50%;
height: 50%;
display: flex;
justify-content: flex-end;
}

.headshot {
  display: inline;
  width: 130px;
  object-fit: unset;
  border-width: 0;
  border-style: solid;
  border-radius: 50%;
  /* margin-left: 40em; */
}

.container {
  /* border: 1px solid black; */
  width: 60%;
  margin: auto;
  
}

nav {
  background-color: #fadde0;
  padding: .5em 0em;
  color:black;
  text-align: center;
}

nav a:visited {
  color: black;
}

.jumbo-container {
 display: flex;
 justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1ebec;
  font-family: Montserrat;
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  padding: 1em 1em;
  background-color: #FBC7CC;
}

.edu-container {
  text-align: center;
  text-transform: uppercase;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  padding: 1em 1em;
  background-color: #FBC7CC;
}
