.jumbotron {
  background-image: url(annie-spratt-zA7I5BtFbvw-unsplash.jpg);
  background-size: cover;
  color: black;
  padding: 20px 0;
}

h1 {
  font-family: "bodoni moda";
  font-size: 2em;
  text-transform: uppercase;
}


.jumbotron-left {
width: 50%;
}

.jumbotron-right {
width: 50%;
height: 50%;
display: flex;
justify-content: flex-end;
}

.headshot {
  display: inline;
  width: 130px;
  object-fit: unset;
  border-width: 0;
  border-style: solid;
  border-radius: 50%;
}

.container {
  width: 60%;
  margin: auto;
}

nav {
  background-color: #fadde0;
  padding: .5em 0em;
  color:black;
  text-align: center;
}

nav a:visited {
  color: black;
}

.jumbo-container {
 display: flex;
 justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1ebec;
  font-family: Montserrat;
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 1em;
  background-color: #FBC7CC;
}

.edu-container {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 1em;
  background-color: #FBCFB1;
}

.exp-one {
  padding: 1em 1em;
  background-color: #f9ebec;
}

.exp-two {
  padding: 1em 1em;
  background-color: #fae2e4;
}

.exp-three {
  padding: 1em 1em;
  background-color: #fad9dc;
}

.edu-list {
  text-align: center; 
  text-transform: uppercase;
  padding: 1em 1em;
  background-color: #fadbc6;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

